pillow==8.4
Cython
torch
numpy
torchvision
scipy
gitpython
torchnet
pydot
tabulate
pandas
jupyter
matplotlib
qgrid
graphviz
ipywidgets
bqplot
pyyaml
pytest
xlsxwriter
pretrainedmodels
scikit-learn
gym
tqdm
